<div class="task">
  <div class="input-group col-10">
    <div class="input-group-text">
      <input type="checkbox"
             class="form-check-input"
             [checked]="task.doneDate"
             (click)="toggleTaskCheck()">
    </div>

    <textarea class="form-control"
              #taskInput
              [readOnly]="!isEditing"
              [style.text-decoration]="task.doneDate? 'line-through': 'none'">{{task.description}}</textarea>
    <button type="button"
            id="task-dropdown"
            class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown"
            aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>

    <ul class="dropdown-menu dropdown-menu-end"
        aria-labelledby="task-dropdown">
      <li>
        <a class="dropdown-item"
           *ngIf="!isEditing"
           (click)="isEditing = true">Edit</a>
        <a class="dropdown-item"
           *ngIf="isEditing"
           (click)="onEditTask()">Finish Editing</a>
        <a class="dropdown-item"
           (click)="onDeleteTask()">Delete</a>
      </li>
    </ul>
  </div>
</div>